body,div,dl,dt,dd,ul,ol,li,h2,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body{
    background-color: #fae8c8;
}
.footer {
    background-color: #444;
    color: white;
    width: 100%;
    padding: 15px;
    bottom: 0px;
    text-align: center;
}
.head{
    top: 0px;
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 99999;
    background-color: #999;
}
.topmenu {
    list-style-type: none;
    width: 30%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}
.topmenu li {
    float: left;
    height: 100%;
}
.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.topmenu li a:hover{
    color: #f63;
}
.rightMenu{
    width: 26%;
    list-style-type: none;
    display: inline-block;
    float: right;
}
.rightMenu li {
    float: left;
}
.rightMenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.rightMenu li a:hover{
    color: #f63;
}
.content{
    margin-top: 80px;
    width: 100%;
    height: 800px;
}
.new_map{
    width: 46%;
    height: 540px;
    display: inline-block;
    float: left;
}
.new_map .search{
    width: 70%;
    height: 40px;
    margin-left: 3%;
    margin-bottom: 10px;
    float: left;
    box-shadow: 2px 2px 2px #999999;
}
.new_map .search:hover{
     box-shadow: 6px 6px 6px #999999;
 }
.new_map .search input{
    display: inline;
    float: left;
    width: 70%;
    height: 40px;
    border: 2px solid #2e77e5;
}
.new_map .search button{
    display: inline-block;
    width: 30%;
    border: 0px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    background-color: #2e77e5;
}
.new_map .mark{
    width: 22%;
    height: 40px;
    float: right;
    margin-right: 2%;
    margin-bottom: 10px;
}
.new_map .mark button{
    display: inline-block;
    width: 100%;
    border: 0px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #999999;
    background-color: #2e77e5;
}
.new_map .mark:hover{
    box-shadow: 6px 6px 6px #999999;
}
#map{
    margin-left: 3%;
    width: 95%;
    height: 540px;border-radius: 6px;
    display: inline-block;box-shadow: 6px 6px 6px #999999;
}
#map:hover{
    box-shadow: 10px 10px 10px #999999;
}
.c_right{
    margin-left: 1%;
    width: 52%;
    height: 600px;
    display: inline-block;
}
.c_right .top{
    width: 100%;
    height: 310px;
    background-color: #f7f7f7;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 3px 3px 3px #999999;
}
.box{
    width: 400px;
    height: 100%;
    padding: 10px;
    float: left;
}
.box .inner{
    width: 370px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999999;
}
.box .inner img{
    width: 370px;
    height: 290px;
    vertical-align: top;
}
.box .inner ul {
    width: 1000%;
    position: absolute;
    list-style: none;
    left:0;
    top: 0;
}
.box .inner ul li{
    float: left;
}
.box .inner ol {
    position: absolute;
    height: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    padding: 5px;
}
.box .inner ol li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
}
.box .inner ol .current{
    background-color: red;
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    border: 1px solid #fff;
}
#arr #right {
    right: 5px;
    left: auto;
}
.c_right .top .desc{
    width: auto;
    height: 95%;
    padding: 10px;
}
.c_right .top .desc .desc_name{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
}
.c_right .top .desc .desc_name p{
    padding-left: 10px;
}
.c_right .top .desc .desc_cont .spot{
    height: 10px;
    line-height:10px;
    color: #f7f7f7;
}
.c_right .top .desc .price{
    height: 36px;
    line-height: 36px;
}
.c_right .bot{
    width: 100%;
    height: 290px;
    border-radius: 0px 0px 6px 6px;
    background-color: #eee;
    box-shadow: 3px 3px 3px #999999;
}
.c_right .bot span{
    display: inline-block;
}
.c_right .bot p{
    height: 36px;
    line-height: 36px;
}
.footer {
    background-color: #444;
    color: white;
    width: 100%;
    padding: 15px;
    bottom: 0px;
    text-align: center;
}