body,div,dl,dt,dd,ul,ol,li,h2,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body{
    background-color: #fae8c8;
}
.footer {
    background-color: #444;
    color: white;
    width: 100%;
    padding: 1em;
    bottom: 0px;
    text-align: center;
}
.head{
    top: 0px;
    width: 100%;
    height: 52px;
    position: fixed;
    z-index: 99999;
    background-color: #999;
}
.topmenu {
    list-style-type: none;
    width: 30%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}
.topmenu li {
    float: left;
    height: 100%;
}
.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
.topmenu li a:hover{
    color: #f63;
}
.rightMenu{
    width: 26%;
    list-style-type: none;
    display: inline-block;
    float: right;
}
.rightMenu li {
    float: left;
}
.rightMenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
.rightMenu li a:hover{
    color: #f63;
}
.clearfix{
    margin-top: 5em;
    width: 100%;
    height: 62.5em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.sidemenu {
    width: 25%;
    /*position: fixed;*/
    display: block;
    float: left;
}
.sidemenu .sidemenu_content{
    margin-left: 0.625em;
}
.sidemenu .menu {
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.sidemenu .menu .menu_left{
    width: 100%;
    display: inline-block;
}
.sidemenu .menu .detail{
    /*position: fixed;*/
    z-index: 11111;
    width: 10em;
    top: 10em;
    left: 11.25em;
    border-radius: 0.375em;
    box-shadow: 0.2em 0.2em 0.2em #999999;
    zoom: 1;
    background-color: #F8F0DD;
    display: none;
}
.sidemenu .menu .detail a{
    margin-bottom: 0.25em;
    display: block;
    padding: 0.5em;
    border-radius: 0.375em;
    background-color: #F8F0DD;
    text-decoration: none;
    color: #666;
}
.sidemenu .menu .detail a:hover{
    background-color: #f63;
    color: white;
}
.sidemenu li a {
    border-radius: 0.375em;
    margin-bottom: 0.25em;
    box-shadow: 0.2em 0.2em 0.2em #999999;
    display: block;
    padding: 0.5em;
    background-color: #eee;
    text-decoration: none;
    color: #666;
}
.sidemenu li a:hover{
    background-color: #f63;
    color: white;
}
.menu:hover .detail{
    display: inline-block;
    height: auto;
}
.sidemenu li a.active {
    background-color: #008CBA;
    color: white;
}
.search{
    width: 100%;
    height: 2.5em;
    margin-bottom: 0.625em;
}
.search:hover{
    box-shadow: 0.375em 0.375em 0.375em #999999;
}
.search input{
    display: inline;
    float: left;
    width: 70%;
    height: 2.5em;
    border: 0.11em solid #f63;
}
.search button{
    display: inline-block;
    width: 30%;
    border: 0px;
    height: 2.5em;
    color: #ffffff;
    font-size: 1em;
    background-color: #f63;
}
.search_map{
    width: 100%;
    height: 1.8em;
    margin-top: 0.375em;
}
.search_map:hover{
    box-shadow: 0.375em 0.375em 0.375em #999999;
}
.search_map input{
    display: inline;
    float: left;
    width: 70%;
    height: 1.8em;
    border: 0.1em solid #2e77e5;
}
.search_map button{
    display: inline-block;
    width: 30%;
    border: 0px;
    height: 1.8em;
    color: #ffffff;
    font-size: 1em;
    background-color: #2e77e5;
}
.supp a{
    padding-left: 0.3em;
    color: dimgray;
}
.new_map{
    margin-top: 0.25em;
    width: 100%;
    height: 18.7em;
}
.new_map:hover{
    box-shadow: 0.375em 0.375em 0.375em #999999;
}
#map{
    width: 100%;
    height: 18.7em;
}
.content{
    width: 74%;
    height: 62.5em;
    float: right;
}
.content .cent_left{
    width: 5%;
    height: 34.125em;
    float: left;
    display: inline-block;
    border-radius: 0.375em;
    margin-top: 3.125em;
}
.content .cent_left:hover{
    background-color: #aaa;
}
.content .cent_left ._left{
    margin-top: 16.875em;
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
    border-bottom: 0.2em solid #aaa;
    border-left: 0.2em solid #aaa;
    transform: rotate(45deg);
}
.content .cent_left:hover ._left{
    border-bottom: 0.2em solid #eee;
    border-left: 0.2em solid #eee;
}
.content .cent_right{
    width: 5%;
    height: 34.125em;
    border-radius: 0.375em;
    margin-top: 3.125em;
    float: right;
    display: inline-block;
}
.content .cent_right:hover{
    background-color: #aaa;
}
.content .cent_right ._right{
    margin-top: 16.875em;
    margin-right: 1.8em;
    width: 2.5em;
    height: 2.5em;
    display: block;
    border-top: 0.2em solid #aaa;
    border-right: 0.2em solid #aaa;
    transform: rotate(45deg);
}
.content .cent_right:hover ._right{
    border-top: 0.2em solid #eee;
    border-right: 0.2em solid #eee;
}
.content .cent{
    width: 90%;
    display: inline-block;
    height: 100%;
}
.content .cent .header {
    width: 100%;
    background-color: #f63;
    color: white;
    font-family: 微软雅黑;
    display: block;
    text-align: center;
    border-radius: 0.375em;
    padding: 0.4em;
    box-shadow: 0.2em 0.2em 0.2em #999999;
}
.content .cent .bod{
    width: 100%;
    display: block;
}

.bod_d{
    margin-top: 0.625em;
    float: left;
    width: 100%;
    display: inline-block;
}
.bod_d .food{
    width: 12.5em;
    height: 260px;
    display: inline-block;
    box-shadow: 0.2em 0.2em 0.2em #999999;
    margin: 0.4em 0.4em 0.4em 0.75em;
}
.bod_d .food:hover{
    box-shadow: 0.375em 0.375em 0.375em #999999;
}
.bod_d .img{
    width: 12.5em;height: 12.5em;
}
.bod_d .img a img{
    border-radius: 0.375em 0.375em 0px 0px;
}
.bod_d .decoration{
    width: 12.5em;height: 3.75em;
    border-radius: 0px 0px 0.375em 0.375em;
    background-color: #eee;
 }
.bod_d .decoration strong{
    display: block;
    font-size: 0.875em;
    color: #333;
    height: 1.8em;
    line-height: 1.8em;
    padding-left: 0.625em;
}
.bod_d .decoration span{
    font-size: 0.875em;
    height: 1.5em;
    display: block;
    line-height: 1.5em;
    padding-left: 0.625em;
}
.bod_d .decoration p{
    font-size: 0.875em;
    padding-left: 0.375em;
    display: inline-block;
    color: #ff3232;
}
#back{
    width: 2.75em;
    height: 2.875em;
    right: 2.5em;
    bottom: 5em;
    font-size: 0.875em;
    z-index:9999;
    position: fixed;
}
#back a{
    text-decoration: none;
}
