body,div,dl,dt,dd,ul,ol,li,h2,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
    font-size: 12px;
}
body{
    background-color: #F8F0DD;
}
p{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
a{
    font-size: 14px;
    color: #49a9ee;
    text-decoration: none;
}
.content{
    position: absolute;
    width:320px;
    height: 300px;
    border-radius: 10px;
    left:35%;
    top: 20%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #f7f7f7 no-repeat;
    background-size: 100%;
}
.content h3{
    margin-top: 26px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    text-align: center;
}
.name,.code,.check_code{
    border:1px solid #fff;
    width:230px;
    height: 36px;
    margin-left: 25px;
    padding-left: 40px;
}
#error_name{
    height: 20px;
    margin-left: 25px;
}
#error_pwd{
    height: 20px;
    margin-left: 25px;
}
.name{
    background: url("../images/user.png") #fff no-repeat left;
    background-position-x:12px;
}
.code{
    background: url("../images/pwd.png") #fff no-repeat left;
    background-position-x:12px;
}
.check_code{
    background: url("../images/pwd.png") #fff no-repeat left;
    background-position-x:12px;
}
.btn input{
    height: 32px;
    width: 120px;
    float: left;
    margin-right: 25px;
    border:none;
    color:#fff;
    font-size: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}
input:active{border-color:#147a62}
.submit{background: #ea8c37;margin-left: 25px;}
.reset{background: #bbb;}
/**错误信息提醒**/
.msg{
    color: #ea8c37;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 10px;
    clear: both;
    font-weight: bold;
}

